<h1 class="heading-1"><%= @kitten.name %></h1>
<ul class="self-center text-2xl">
  <li>Age: <%= @kitten.age %></li>
  <li>Cuteness: <%= @kitten.cuteness %></li>
  <li>Softness: <%= @kitten.softness %></li>
</ul>